/* App.css */
.App {
  display: flex;
  height: 100%;
}
.appContainer{
  flex: 1;
  background-color: #A73439; /* Your desired background color */
  overflow: hidden;
  justify-content: center;
}
body{
  overflow: hidden;
}